<h2>Register</h2>

<%= form_for @user do |f| %>

  <%= f.label :email %>
  <%= f.textfield :email %>

  <%= f.label :password %>
  <%= f.textfield :password %>

  <%= f.label :password_confirmation %>
  <%= f.textfield :password_confirmation %>

  <%= f.submit %>

<% end %>