<header id="landing-page">
	<h1 id="logo"> <span class="dbz">DBZ</span>FEEDBACK </h1>
	<nav id="site-nav">
		<ul>
			<% if logged_in? %>
			<li><%= link_to current_user.full_name.upcase, user_path(current_user) %></li>
			<li ><%= link_to "LEAVE FEEDBACK", new_feedback_path %></li>
			<li class="divider-right"><%= link_to "REVIEW FEEDBACK", reviews_path %></li>
			<li><%= link_to "LOG OUT",destroy_session_path, method:"delete" %></li>
			<% else %>
			<li><%= link_to "LOG IN", new_sessions_path %></li>
			<li><%= link_to "REGISTER", new_user_path %> </li>
			<% end %>
		</ul>
	</nav>
</header>
